@model Usuario
@{
    ViewBag.Subtitulo = "Excluir Usuário";
}

<h1 class="text-primary">Excluir usuário</h1>
<h4>Deseja excluir o usuário @Model.Nome</h4>
<hr>
<form method="POST">
    <a href="/Home/Usuarios"class="btn btn-primary">Não</a>
    <button type="submit" class="btn btn-danger">Sim</a>
</form>
