@{
    Layout = "_Layout";
    ViewBag.Subtitulo = "Usuários";
}


<h1 class="text-primary">Usuários</h1>
<hr>
    <a href="/Home/Cadastrar" class="btn btn-primary">Adicionar Usuário</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nome</td>
                    <td>@item.Email</td>
                    <td>
                        <a class="btn btn-secondary" asp-controller="Home" asp-action="Cadastrar" asp-route-id="@item.Id">Alterar</a>
                        <a class="btn btn-danger" asp-controller="Home" asp-action="Excluir" asp-route-id="@item.Id">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
